@import url(https://fonts.googleapis.com/css?family=Roboto:300);
html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: Monospace;
  height: 100%;
}

.hide {
  display: none;
}

a {
   text-decoration:none;
}

hr {
  width: 20%;
}

td {
    
   font-size:3vmin;
   text-align:center;
}

input[type=button],input[type=submit] {
    
    border-radius: 20px;
    width:190px;

}

input[type=text], input[type=url], input[type=datetime-local], select, input[type=password], input[type=email] {
    
    width:400px;
    
}

input,select{
    
    font-size:2vmin;
    font-family: Monospace;
    
}

.content {
    position: absolute;
    text-align : center;
    left: 25%;
    top : 12%;
    width : 75%;
    font-size:3vmin;
    
}

input[type="submit"] {
    
    

    font-family: Monospace;
    
}

.copyrights {
    
    position: absolute;
    text-align : center;
    left : 45%;
    bottom : 2%;
    width : 40%;
    font-size:2vmin;
}


.head-nav li:hover {
  background-color: #1a1a1a;
  fill: #1a1a1a;


}

.head-nav li:hover img {
  fill: #1a1a1a;
 background-color: #1a1a1a;

}




.head-nav li:hover:before {
  background-color: #1a1a1a;

}
.main-head:hover img{

   left:10%;
   

}



.head-nav li:hover a {
  color: #BCBCBC;
}

.head-nav li:before {
  position: absolute;
  left: -0.925rem;
  top: 0;
  width: 0.925rem;
  height: 100%;
  content: "";
  background: #BCBCBC;
  z-index: 1;
  transition: background 400ms;
}
.head-nav ul {

  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
  padding: 0;
  list-style: none;
}
.head-nav li {
  position: relative;
  clear: both;
  width: 100%;
  padding: 0;
  transition: background 400ms;
}
.head-nav li a {
  display: flex;
  padding-top: 2vh;
  padding-bottom: 2vh;

}
.head-nav a {
  align-items: center;
  width: 100%;
  color: #fefefe;
  text-decoration: none;
  transition: color 400ms;
}
.head-nav a span {
  position: relative;
  display: block;
  z-index: 0;
  font-family: Roboto;
  text-indent: -20em;
  white-space: nowrap;
  transition: text-indent 400ms ease-in-out;
}
.head-nav img {
  position: relative;
  width: 100px;
  height: 100px;
  left:25%;
  z-index: 1;
  fill: #fefefe;
  background: #BCBCBC;
  transition: 400ms;
}
@media screen and (max: 768px) {
  .head-nav ul {
    margin-top: 0.23125rem;
  }
  .head-nav svg {
    max-width: 20px;
  }
}

.main-head {
  position: fixed;
  bottom: 0;
  width: 280px;
  height: 100%;
  z-index: 1;
  background: #BCBCBC;
  transition: width 400ms;

}
.main-head:hover {
  width: 436px;
}
.main-head:hover + .wrap-all-the-things {
  transform: translateX(336px);
  max-width: 100%;
  opacity: 0.4;
}
.main-head:hover .head-nav li:nth-of-type(1) span {
  transition-delay: 100ms;
}
.main-head:hover .head-nav li:nth-of-type(2) span {
  transition-delay: 200ms;
}
.main-head:hover .head-nav li:nth-of-type(3) span {
  transition-delay: 300ms;
}
.main-head:hover .head-nav li:nth-of-type(4) span {
  transition-delay: 400ms;
}
.main-head:hover .head-nav span {
  text-indent: +5em;
}
@media screen and (max: 768px) {
  .main-head {
    width: 120px;
    padding: 0 0.925rem;
  }
  .main-head .head-nav {
    padding-left: 7px;
  }
  .main-head:hover .head-nav span {
    text-indent: 1em;
  }
}

.wrap-all-the-things {
  min-height: 100%;
  height: 100%;
  padding-left: 140px;
  margin-top: 0;
  background-size: cover;
  background-position: center center;
  transition: transform 400ms, opacity 400ms;
}
@media screen and (max: 480px) {
  .wrap-all-the-things {
    padding-left: 70px;
  }
}



.tooltiptext {
  visibility: hidden;

  background-color: grey;
  color: black;
  text-align: left;
  padding: 5px 0;
  border-radius: 6px;
 
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}